<!doctype html>
<html ng-app="personalWebsite">
<head>
	<!--Angular scripts-->
	<title> Rui Aguiar</title>
	<link href="./node_modules/angular-material/angular-material.css" rel="stylesheet" />
	<script src="./node_modules/angular/angular.js" type="text/javascript" ></script>
	<script src="./node_modules/angular-animate/angular-animate.js" type="text/javascript" ></script>
	<script src="./node_modules/angular-aria/angular-aria.js" type="text/javascript" ></script>
	<script src="./node_modules/angular-material/angular-material.js" type="text/javascript" ></script>
	<script src="node_modules/angular-route/angular-route.js"></script>
	<script src="node_modules/angular-resource/angular-resource.js"></script>
	<script src="mainController.js"></script>
	<!--Particles.js-->
	<script src="node_modules/particles.js/particles.js"></script>
	<script src="particles.js"></script>
	<!--Stylesheets-->
	<link rel = "stylesheet" type = "text/css" href = "main.css"/>
	<!--Smoothscroll-->
	<script type="text/javascript" src="node_modules/smoothscroll/smoothscroll.min.js"></script>

</head>
<body ng-controller = "MainController" ng-app = "PersonalWebsite">
	<div id = "linksbar">
		<ul>
			<li><a href="#resume" target="_self">Resume</a></li>
			<li><a href="#projects" target="_self">Projects</a></li>
			<li><a href="#contact" target="_self">Contact</a></li>
			<li><a href="#links" target="_self">Links</a></li>
		</ul>
	</div>

	<div id="particles-js">
		<div id = "particles_info">
			<h1 style="text-align: center;"> Rui Aguiar</h1>
			<h2 style="padding: 1%;"> Computer science and economics student at <a href = "https://www.stanford.edu/" style="display: inline; color: red;">Stanford University.</a>
				Engineering / analytics at <a href="https://www.facebook.com/" style="display: inline; color: #000080;">Facebook</a>. 
				Interested in artifical intelligence, data analytics and economic policy. </h2>
				<md-button class="md-raised" id = "about_button" href ="#resume" target="_self"> About me </md-button>
			</div>
		</div>
		<div id = "personal-info">
			<section id="resume" style="text-align: center; padding: 10px">
				<a class = "centered_items cvbox" href = "RuiCV-Tech.pdf" download="Rui_CV.pdf">
					Download My Resume
				</a>
			</section>
			<section id = "projects" target="_self">
				<p class = "section_header">Projects</p>
				<div class="projectswrapper">
					<div class="projectswrapper">
						<ul class = "projectslist">
							<!--tcr web-->
							<li id = "projectli">
								<img src="images/tcr1_pic.jpg">
								<a href="http://twincitiesrise.herokuapp.com/index">Twin Cities Rise - Web</a>
								<p class = "projectdescription">
									The web component for TwinCitiesRise that allows coaches to communicate with participants. 
									Built and deployed with Flask with support for conversion of a lot of the nonprofit's internal information 
									storage.
								</p>
							</li>
							<!--tcr mobile-->
							<li id = "projectli">
								<img src="images/tcr2_pic.png">

								<a href="https://github.com/sahajgarg/twin-cities-rise">Twin Cities Rise - Mobile</a>
								<p class = "projectdescription">
									The mobile component for TwinCitiesRise. Allows participants to notify coaches
									about the status of these tasks. Also sends reminders about upcoming and ongoing tasks. Built for Android 
									using Android Studio and Google Firebase. 
								</p>
							</li>
							<!--data impact-->

							<li id = "projectli"> 
								<img src="images/daycare_pic.png">
								<a href="http://stanford.edu/group/datalab/projects/daycare/map.html">DIL Daycare Map</a>
								<p class = "projectdescription">
									The Data Impact Lab's daycare map. Shows a map of california daycares and colors them according to 
									number of government citations. The data was uploaded and parsed using RStudio, while the map was built
									with Carto
								</p> 
							</li>
						</ul>
					</div>
					<div class="projectswrapper">
						<ul class = "projectslist">
							<!--opt ride-->
							<li id = "projectli">
								<img src="images/opt_ride_pic.png">
								<a href="https://github.com/raguiar2/cs41_project">OptimizeRide</a>
								<p class = "projectdescription">
									A quick project built for a computer science class at Stanford. Give it your location and a desitnation,
									and it will calcluate a place nearby you can walk to get the cheapest Uber ride. Built in flask using Uber's Python API's 
								</p> 
							</li>
							<!--website itself-->
							<li id = "projectli">
								<img src="images/personal_web_pic.png">
								<a href="https://github.com/raguiar2/PersonalWebsite">This website (Meta!)</a>
								<p class = "projectdescription">
									Pretty self explanitory. See the description link!
								</p> 
							</li>
							<!--touchsymphony-->
							<li id = "projectli">
								<img src="images/touchsymphony_pic.png">
								<a href="https://github.com/raguiar2/TouchSymphony">TouchSymphony</a>
								<p class = "projectdescription">
									A quick app that I built for fun. Allows the user to compose songs by touching certian parts of the 
									screen for different notes in an octave. Also generates a visual effect and the ability to save a song for playback.   
								</p> 
							</li>
						</ul>
					</div>
				</div>
			</section>
			<section id = "contact" target="_self">
				<p class = "section_header" >Contact me</p>
				<div class = "centered_items">
					<ng-form>
						<textarea class="longInput" cols="30" rows="10"  ng-model="message"  id = "contact_box"></textarea>
					</ng-form>
				</div> 
				<div class = "centered_items">
					<md-button class = "md-raised" id = "contact_button" ng-click="sendMessage()"> Send </md-button>
				</div>
			</section>
			<section id = "links" target="_self">
				<p class = "section_header">Links</p>
				<div class = "centered_text">
				<a href="https://stackoverflow.com/users/6232148/johndoe" target="_blank"> 
					<img class="thumbnail" src="images/so_thumb.png">
				</a> 
				<a href="https://github.com/raguiar2" target="_blank">
					<img class="thumbnail" src="images/wb_cat.png" >
				</a>
				<a href="https://www.linkedin.com/in/rui-aguiar-473b01101/" target="_blank">
					<img class="thumbnail" src="images/li_thumb.jpg">
				</a>
					</div>
				</section>
			</div>

		</body>
		</html>