/* ---- reset ---- */

body {
  margin: 0;
  font:normal 75% Arial, Helvetica, sans-serif;

}


canvas {
  display: block;
  vertical-align: bottom;
}

#personal-info{
    background-color: #05386B;
}
/* ---- particles.js container ---- */

#particles-js {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #5CDB95;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

h1, h2, label, p{
  color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.section_header{
  font-size: 40px;
  text-align: center;
}

.centered_text { 
  text-align: center;
}

#description_text { 
  text-align: center;
  font-size: 17px
}


#about_button{
  background-color: #05386B;
  color: white;
  vertical-align: center;
}

#contact_button{
  background-color: #5CDB95;
}

.centered_items{
  display: flex;
  justify-content: center; /* center horizontally */
}

#contact_box{
    border: 2px solid #5CDB95;
    border-radius: 4px;
    height:200px;
    font-size:14pt;
}

.cvbox{
    border: 2px solid white;
    border-radius: 4px;
    font-size:14pt;
    display: inline-block;
    padding: 2px;
}

#particles_info{
  height: 300px;
  width: 300px;
  position: absolute;
  background: rgba(0,0,0,.5);
  /*Centering Method 2*/  margin: -150px 0 0 -150px;
  left: 50%;
  text-align: center;
  top: 50%;
}

.projectslist{
  display: block;
}

#projectli{
      float: left;
    clear: left;
}


